.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
}

.borderLeft {
    border-left: 2px solid black
}

.borderBottom {
    border-bottom: 2px solid black
}

.borderRight {
    border-right: 2px solid black
}

.borderTop {
    border-top: 2px solid black
}

.blackMouse {
    background-color: rgb(252, 0, 0);
}
.whiteMouse {
    background-color: rgb(47, 0, 255);
}
.cheese{
    background-color: rgb(238, 255, 0);
    

}