.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
}

.borderLeft {
    border-left: 2px solid black
}

.borderBottom {
    border-bottom: 2px solid black
}

.borderRight {
    border-right: 2px solid black
}

.borderTop {
    border-top: 2px solid black
}

.mouse {
    background-color: yellow;
}